DATABASE_URL="postgres://usuari:contrasenya@host/tebasfury"
BETTER_AUTH_SECRET="genera'l amb: openssl rand -base64 32"
BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
